/*最外层的容器盒子*/

.jd_container{
	width: 100%;
	min-height: 800px;
	background-color: #eee;
}

/*顶部通栏*/
.jd_header{
	height: 40px;
	width: 100%;
	background-color: rgba(201,21,35,0);
	/*要把通栏固定在顶部*/
	position: fixed;
	z-index: 99;
	
	/*设置padding*/
	padding-left: 70px; 
	padding-right: 60px; 
}
.jd_header .header_logo{
	width: 60px;
	height: 36px;
	position: absolute;
	left: 5px;
	top: 2px;
	/*设置背景图*/
	background-image: url("../images/sprites.png");
	background-repeat: no-repeat;
	background-position:0 -103px;
	/*设置背景图片大小,压缩一倍是为了防止用户看到像素颗粒*/
	background-size: 200px 200px;

}
.jd_header .header_glass{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	left: 78px;
	background: url("../images/sprites.png") no-repeat -60px -110px;
	background-size: 200px 200px;
}
.jd_header .header_search{
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	border-radius: 15px;
	padding-left:30px;
	padding-right: 10px;
	outline: none;

}
.jd_header .header_login{
	position: absolute;
	right: 10px;
	top: 0;
	line-height: 40px;
	color: #fff;
	font-size: 17px;
}

/*顶部的轮播图*/
.jd_banner{
	width: 100%;
	overflow: hidden;
	/*为了索引能够定位,添加position*/
	position: relative;
}
.jd_banner .banner_images{
	/*10倍宽度*/
	width: 1000%;
	/*默认要显示索引为1的哪一张*/
	/*transform:移动一个屏幕的宽度*/
	transform: translateX(-10%);
}
.jd_banner .banner_images li{
	float: left;
	width: 10%;
}
.jd_banner .banner_images li a{
	display: block;
	width: 100%;
}
.jd_banner .banner_images li a img{
	display: block;
	width: 100%;
}
/*轮播图索引li标签*/
.jd_banner .banner_index{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left:-48px;
}
.jd_banner .banner_index li{
	float: left;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 1px solid #fff;
	margin: 0 3px;
}
.jd_banner .banner_index li.current{
	background-color: #fff;
}

/*导航栏*/
.jd_nav{
	width: 100%;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	padding: 10px 0;
	background-color: #fff;
}
.jd_nav ul{
	width: 100%;
	/*把内容压下来*/
}
.jd_nav li{
	float: left;
	width: 25%;
}
.jd_nav li a{
	width: 100%;
	display: block;
}
.jd_nav li a img{
	width: 45%;
	display: block;
	margin: 0 auto;

}
.jd_nav li a p{
	color: gray;
	text-align: center;
	padding: 5px 0;
}
/*京东首页-主要内容区*/
.jd_main{
	width: 100%;
	padding: 0 5px;
	margin-top: 10px;
}
.jd_main .main_content{
	width: 100%;
	background-color: #fff;
	min-height: 150px;
	margin-bottom: 10px;
	box-shadow: 0 0 2px #ccc;
}
.jd_main .main_content .content_top{
	height: 32px;
	width: 100%;
	border-bottom: 1px solid #eee;
}
.jd_main .main_content .content_bottom{
	width: 100%;
}
/*内容区域的第一个盒子*/
.jd_main .main_content:nth-child(1){

}
.jd_main .main_content:nth-child(1) .content_top{
	border-bottom: none;
}
.jd_main .main_content:nth-child(1) .content_top span{
	width: 20px;
	height: 25px;
	background: url("../images/seckill-icon.png") no-repeat;
	background-size: 20px 25px;
	float: left;
	margin-top: 3.5px;
	margin-left: 10px;
	transform: scale(0.9);
}
.jd_main .main_content:nth-child(1) .content_top p{
	color: rgb(201,21,35);
	line-height: 32px;
	margin-left: 5px;
	float: left;
}
.jd_main .main_content:nth-child(1) .content_top ul{
	overflow: hidden;
	margin-left: 10px;
	float: left;
}
.jd_main .main_content:nth-child(1) .content_top ul li{
	float: left;
	background-color: #444;
	color: #fff;
	height: 16px;
	width: 16px;
	margin-left: 3px;
	text-align: center;
	line-height: 16px;
	margin-top: 8px;
}
.jd_main .main_content:nth-child(1) .content_top ul li:nth-child(3n){
	background-color: #fff;
	color: #000;
	width: 5px;
}
.jd_main .main_content:nth-child(1) .content_top>a{
	color: gray;
	float: right;
	line-height: 32px;
	margin-right: 10px;
}
.jd_main .main_content:nth-child(1) .content_bottom{
	width: 100%;
}
.jd_main .main_content:nth-child(1) .content_bottom ul{
	width: 100%;
}
.jd_main .main_content:nth-child(1) .content_bottom ul li{
	float: left;
	/*为了保证零头不影响布局,所以要很精确*/
	width: 33.3333%;
	text-align: center;
}
.jd_main .main_content:nth-child(1) .content_bottom ul li a{
	width: 100%;
	display: block;
	border-right: 1px solid #eee;
}
/*最后一个li标签里面的a标签不要右边的边框*/
.jd_main .main_content:nth-child(1) .content_bottom ul li:last-child(3) a{
	border-right: none;
}
.jd_main .main_content:nth-child(1) .content_bottom ul li a img{
	width: 60%;
	display: block;
	margin: 0 auto;
}
/*由于a标签和p标签是平级,所以这里p标签的索引值从2开始写*/
.jd_main .main_content:nth-child(1) .content_bottom ul li p{
	padding: 3px 0;
	font-size: 12px;
}
.jd_main .main_content:nth-child(1) .content_bottom ul li p:nth-child(2){
	color: rgb(201,21,35);
}
.jd_main .main_content:nth-child(1) .content_bottom ul li p:nth-child(3){
	color: gray;
	text-decoration: line-through;
}

/*为除了第一个盒子以外的盒子设置样式*/
.jd_main .main_content:nth-child(n+2) .content_top{}
.jd_main .main_content:nth-child(n+2) .content_top span{
	color: rgb(201,21,35);
	line-height: 32px;
	margin-left: 15px;
	position: relative;
}
.jd_main .main_content:nth-child(n+2) .content_top span::before{
	content:'';
	position: absolute;
	/*设置宽高*/
	height: 15px;
	width: 5px;
	background-color: rgb(201,21,35);
	left: -10px;
	top: 8.5px;
}
/*设置除了秒杀区域的主要内容的底部样式*/
.jd_main .main_content:nth-child(n+2) .content_bottom{
	width: 100%;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul{
	width: 100%;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul li{
	width: 50%;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul li a{
	width: 100%;
	display: block;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul li a img{
	width: 100%;
	display: block;
}



























